In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()

In [3]:
data = pd.read_csv('C:\\Users\\Sanket\\Desktop\\new_data\\2010.csv')

In [4]:
y = data['CANCELLED']

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [6]:
origin = le.fit_transform(data['ORIGIN'])
origin

array([155,  76, 155, ..., 237, 237, 237])

In [7]:
dest = le.fit_transform(data['DEST'])

In [8]:
op = le.fit_transform(data['OP_CARRIER'])
op

array([10, 10, 10, ...,  8,  8,  8])

In [9]:
origin = pd.Series(origin)
dest = pd.Series(dest)
op = pd.Series(op)

In [10]:
x1 = origin
type(x1)

pandas.core.series.Series

In [11]:
x1 = pd.concat([x1,dest,op],axis=1)

In [12]:
y = le.fit_transform(y)
type(x1)
y = pd.Series(y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x1, y,test_size = 0.3, random_state=1)
x1

           0    1   2
0        155  229  10
1         76  144  10
2        155  229  10
3        229  155  10
4        144   76  10
5         76  144  10
6        229  155  10
7         76  144  10
8         76  144  10
9        144   76  10
10        76  144  10
11       144   76  10
12       155   34  10
13       144   76  10
14       155   34  10
15       229  155  10
16        76  144  10
17       155  229  10
18        76   34  10
19       155  229  10
20        76   34  10
21       155   32  10
22       155   83  10
23       229  155  10
24        34  229  10
25       155   34  10
26        34  155  10
27       155   57  10
28        34  155  10
29       155   34  10
...      ...  ...  ..
1048545  217  168   8
1048546  217  237   8
1048547  217  237   8
1048548  217  274   8
1048549  219   15   8
1048550  219   15   8
1048551  219   15   8
1048552  225   44   8
1048553  225   44   8
1048554  229   15   8
1048555  229   15   8
1048556  229   15   8
1048557  229   15   8
1048558  230   15   8
1048559  230   15   8
1048560  230   15   8
1048561  230   15   8
1048562  230  168   8
1048563  234   15   8
1048564  234   15   8
1048565  234   44   8
1048566  234   44   8
1048567  234  168   8
1048568  234  274   8
1048569  237   15   8
1048570  237   15   8
1048571  237   15   8
1048572  237   15   8
1048573  237   34   8
1048574  237   44   8

[1048575 rows x 3 columns]

In [13]:
clf = clf.fit(X_train,y_train)

In [14]:
prediction = clf.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_test,prediction)

0.961261773896679